nav{
    background-color: #fff !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-link.active{
    color: #4CBF8F !important;
}

.profile-button{
    width: 3rem;
    margin-top: 0.5rem;
    border: 1px solid #fff !important;
}

.profile-button:hover{
    background-color: #4CBF8F !important;
}

.nav-link.active .profile-button{
    background-color: #4CBF8F !important;
    color: #fff;
    border: 1px solid #fff;
}

@media only screen and (min-width: 990px){
    .profile-button{
        width: auto;
        margin: 0;
    }
}