.tutor{
    margin-top: 8rem;
}

.profile-image{
    margin-top: 4rem;
}

.about-heading, .about-tutor p, .certification, .certification h2{
    font-weight: 300;
}

.mail-link{
    color: #1A8357 !important;
}
