.tutor{
    margin-top: 8rem;
}

.profile-image{
    
    margin-top: 4rem;
}

.profile-details{
    margin-top: 5rem;
}

.about-heading, .about-tutor p, .certification, .certification h2{
    font-weight: 300;
}